<div data-controller="feed">
  <%= form_with(model: feed, local: true, class: "card card--light mb-8") do |form| %>
    <%= render "shared/flash", flash: feed.errors %>
    <% show_fields = feed.persisted? || feed.errors.any? %>

    <div class="card__content">
      <div class="field relative">
        <div class="absolute hidden" style="top: 39px; right: 10px;" data-target="feed.loader">
          <div class="loader-spinner"></div>
        </div>

        <div class="absolute rounded overflow-hidden rounded-l-none" style="height: 40px; bottom: 0px; right: 0px;">
          <button type="button" class="text-white px-3 bg-blue-600 hover:bg-blue-900 h-full inline-block" data-target="feed.checkButton" data-action="click->feed#check">Find RSS feed</button>
        </div>

        <%= form.label :url, "Website url" %>
        <%= form.url_field :url, class: "input feed-input pr-32", data: { target: "feed.url" } %>
      </div>

      <div class="field <%= "hidden" if !show_fields %>" data-target="feed.nameField">
        <%= form.label :name %>
        <%= form.text_field :name, class: "input feed-input", data: { target: "feed.nameInput" } %>
      </div>

      <div class="field  <%= "hidden" if !show_fields %>" data-target="feed.rssFeedUrlField">
        <%= form.label :feed_url, "RSS Feed URL" %>
        <%= form.url_field :feed_url, class: "input feed-input", data: { target: "feed.rssFeedUrlInput" } %>
      </div>

      <div class="field  <%= "hidden" if !show_fields  %>" data-target="feed.rssFeedTruncationField">
        <%= form.label :truncation, "Modify article text" %>
        <%= form.select :truncation, options_for_select([["Leave the text as is", ""], ["Remove text and only show the title", "0"]], feed.truncation), {}, class: "select feed-input", data: { target: "feed.rssFeedTruncationInput" } %>
      </div>

      <div class="field flex justify-between items-center mb-0">
        <%= form.submit feed.persisted? ? 'Update' : 'Add', class: "btn btn--primary #{'hidden' if !show_fields}", data: { target: "feed.submitButton" } %>

        <% if feed.persisted? %>
          <%= link_to "Delete", feed, method: :delete, class: "text-red-600", data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% unless feed.persisted? %>
    <div>
      <div class="text-gray-600 mb-2">Looking for inspiration? These are popular websites that work with RSSMailer:</div>

      <div class="leading-relaxed">
        <%= render 'example_feed', name: "Marques Brownlee - YouTube", url: "https://www.youtube.com/channel/UCBJycsmduvYEL83R_U4JriQ" %>
        <%= render 'example_feed', name: " lifehacker.com", url: "https://lifehacker.com" %>
        <%= render 'example_feed', name: "Ars Technica", url: "https://arstechnica.com/" %>
        <%= render 'example_feed', name: "The Next Web", url: "https://thenextweb.com/" %>
        <%= render 'example_feed', name: "The Atlantic - Politics", url: "https://www.theatlantic.com/world/" %>
        <%= render 'example_feed', name: "Basecamp", url: "https://m.signalvnoise.com/" %>
        <%= render 'example_feed', name: "New York times", url: "https://www.nytimes.com/" %>
        <%= render 'example_feed', name: "The Verge", url: "https://www.theverge.com/" %>
        <%= render 'example_feed', name: "Mac Rumors", url: "https://www.macrumors.com" %>
      </div>
    </div>
  <% end %>
</div>
