<%= form_with(model: feed, local: true, class: "card card--light mb-8") do |form| %>
  <%= render "shared/flash", flash: feed.errors %>

  <div class="card__content" data-controller="feed">
    <div class="field relative">
      <div class="absolute hidden" style="top: 39px; right: 10px;" data-target="feed.loader">
        <div class="loader-spinner"></div>
      </div>

      <div class="absolute" style="top: 39px; right: 10px;">
        <button type="button" class="pill pill--primary inline cursor-pointer hover:bg-blue-500 hover:text-white" data-target="feed.checkButton" data-action="click->feed#check">Find RSS feed</button>
      </div>

      <%= form.label :url, "Website url" %>
      <%= form.url_field :url, class: "input feed-input pr-32", data: { target: "feed.url" } %>
    </div>

    <div class="field <%= "hidden" if feed.name.blank? %>" data-target="feed.nameField">
      <%= form.label :name %>
      <%= form.text_field :name, class: "input feed-input", data: { target: "feed.nameInput" } %>
    </div>

    <div class="field  <%= "hidden" if feed.rss_feed_url.blank? %>" data-target="feed.rssFeedUrlField">
      <%= form.label :rss_feed_url, "RSS Feed URL" %>
      <%= form.url_field :rss_feed_url, class: "input feed-input", data: { target: "feed.rssFeedUrlInput" } %>
    </div>

    <div class="field flex justify-between items-center mb-0">
      <%= form.submit feed.persisted? ? 'Update' : 'Add', class: "btn btn--primary #{'hidden' unless feed.persisted?}", data: { target: "feed.submitButton" } %>

      <% if feed.persisted? %>
        <%= link_to "Unfollow", feed, method: :delete, class: "text-red-600", data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
<% end %>

