<div class="mt-16 max-w-4xl mx-auto">
  <% if current_user.unsubscribed_at.present? %>
    <div class="bg-red-500 text-white p-5 mb-5">
      <p>You are now not receiving ou our emails because you have opted out!</p>
      <p>Want to get the emails again? Click <%= link_to "subscribe", current_user.resubscribe_url, class: "text-white underline" %>.</p>
    </div>
  <% end %>

  <% if current_user.sent_emails.none? && current_user.feeds.any? %>
    <div class="bg-green-400 text-white p-5 mb-5 shadow-lg rounded flex items-center">
        <svg aria-hidden="true" focusable="false" class="inline h-6 align-middle mr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="currentColor" d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path>
        </svg>
        Okay great, you added a feed! Tomorrow we will send you an email, if there is anything new.
    </div>
  <% end %>

  <% if @feeds.any? %>

    <div class="card card--light mb-8">
      <div class="card__content">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <% @feeds.each do |feed| %>
            <%= content_tag :tr, id: dom_id(feed) do %>
              <td>
                <% if feed.is_instagram? %>
                  <%= image_tag "instagram-brands.svg", width: 20, class: "inline" %>
                <% elsif feed.is_youtube? %>
                  <%= image_tag "youtube-brands.svg", width: 20, class: "inline" %>
                <% end %>

                <%= link_to [:edit, feed] do %>
                  <%= feed.name %>
                <% end %>

                <% if feed.fetch_error %>
                  <%= link_to feed_path(feed) do %>
                    <div class="pill pill--danger text-white-600 ml-2">Error fetching</div>
                  <% end %>
                <% end %>
              </td>
              <td class="text-right"><%= link_to "Delete", feed, method: :delete, class: "pill pill--secondary text-white-600", data: { confirm: "Are you sure you want to delete #{feed.name}?" } %></td>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="text-right mb-8">
        <%= link_to "Add new feed", new_feed_path, class: "btn btn--primary m-4" %>
      </div>  
    </div>

  <% else %>
    <div class="my-8">
      <h1 class="mb-1 text-3xl sm:text-5xl leading-tight font-black">Hello there, <%= current_user.name %>!</h1>
      <p class="mb-8 text-xl text-gray-600">It's time to add your first feed, press the button.</p>

      <%= link_to "👌 Add first feed", new_feed_path, class: "btn btn--primary" %>
    </div>
  <% end %>

</div>

