<div class="mx-auto max-w-2xl w-full px-5">
  <h1 class="text-2xl mt-5 mb-6">Happy <%= Time.zone.now.strftime("%A") %>,</h1>

  <% if @index.present? %>
    <div class="bg-blue-100 px-4 py-2 mb-10 text-gray-500">
      <div class="text-gray-600 mb-1">In today's issue:</div>
      <% @index.each_pair do |item, value| %>
        <div><%= value %> from <%= item %></div>
      <% end %>
    </div>
  <% end %>

  <% @feed_items.each do |item| %>
    <div class="mb-8 border bg-white border-gray-300">
      <div class="p-4">
        <% if item.title.present? && item.feed.name.present? %>
          <h1 class="text-base font-normal">
            <%= link_to item.title, item.link %>
          </h1>
          <h2 class="text-sm text-gray-600 font-normal">
            by <%= item.feed.name %>
          </h2>
          <h4 class="text-xs mb-3"><%= I18n.l(item.publish_date.to_date, format: :long) %></h4>
        <% else %>
          <h1 class="mb-0"><%= link_to [item.title.presence, item.feed.name.presence].compact.join(""), item.link %></h1>
          <h4 class="text-xs mb-3"><%= I18n.l(item.publish_date.to_date, format: :long) %></h4>
        <% end %>
        <div class="text-base text-left feed-content"><%= sanitize(item.description.to_s).html_safe %></div>
        <%= image_tag(item.image_url, class: "mt-4") if item.image_url %>
      </div>
    </div>
  <% end %>

  <p class="text-center mb-5 text-sm text-gray-600 max-w-2xl mx-auto">
    You are receiving this email because you signed up at <a href="https://rssmailer.app">rssmailer.app</a>. 
    If you want, you can unsubscribe with <%= link_to "this unique url", @user.try(:unsubscribe_url) %>.
  </p>
</div>
