<div class="max-w-2xl mx-auto my-20 text-center">
  <p class="bg-blue-700 text-white rounded py-3 my-10">
    RSSReader is an
    <a class="text-white underline" href="https://twitter.com/levelsio/status/968219339588493312">Open Startup</a>, which means it operates fully transparent and shares its metrics, including revenue and users.
  </p>

  <div class="mb-20">
    <h1>Number of emails:</h1>
    <%= line_chart [
                       { name: "Emails per day (Total #{SentEmail.count})", data: SentEmail.group_by_day(:created_at).count },
                       { name: "Items in those emails (Total #{SentEmail.sum(:number_of_items)})", data: SentEmail.where.not(number_of_items: nil).group_by_day(:created_at).sum(:number_of_items) }
                   ] %>
  </div>

  <div class="mb-20">
    <h1>Number of users created per day (Total: <%= User.count %>)</h1>
    <%= line_chart User.group_by_day(:created_at).count %>
  </div>

  <div class="mb-20">
    <h1>Number of feeds created per day (Total: <%= Feed.count %>)</h1>
    <%= line_chart Feed.group_by_day(:created_at).count %>
  </div>

  <%

    revenue = {}

    (Date.new(2019, 7, 12)..Date.today).each { |d| revenue[d] = 0 }
  %>

  <div class="mb-20">
    <h1>Revenue (no monetization)</h1>
    <%= line_chart revenue %>
  </div>
</div>
