<% content_for :page_title, "/open – RSSMailer" %>
<% content_for :page_description, "RSSReader is an Open Startup, which means it operates fully transparent and shares its metrics, including revenue and users." %>

<div class="max-w-2xl mx-auto my-20 text-center px-2">
  <p class="bg-blue-700 text-white rounded py-3 my-10 px-4">
    RSSReader is an
    <a class="text-white underline" href="https://twitter.com/levelsio/status/968219339588493312">Open Startup</a>, which means it operates fully transparent and shares its metrics, including revenue and users.
  </p>

  <div class="mb-20">
    <h1>Number of emails:</h1>
    <%= line_chart [
                       { name: "Emails per day (Total #{SentEmail.count})", data: SentEmail.group_by_day(:created_at).count },
                   ] %>
  </div>
  
  <div class="mb-20">
    <h1>Number of items in emails:</h1>
    <%= line_chart [
                       { name: "Items in those emails (Total #{SentEmail.sum(:number_of_items)})", data: SentEmail.where.not(number_of_items: nil).group_by_day(:created_at).sum(:number_of_items) }
                   ] %>
  </div>

  <div class="mb-20">
    <h1>Number of feeds per account:</h1>
    <%
      distribution_data = {}
      User.all.find_each do |u|
        count = u.feeds.count
        if distribution_data.has_key?(count)
          distribution_data[count] += 1
        else
          distribution_data[count] = 1
        end
      end
    %>

    <%= bar_chart(distribution_data) %>
  </div>

  <div class="mb-20">
    <h1>Duration to send all emails (in minutes):</h1>
    <%= line_chart SentEmail.group_by_day(:created_at).sum("compose_duration_in_seconds / 60") %>
  </div>

  <div class="mb-20">
    <h1>Number of users created per day (Total: <%= User.count %>)</h1>
    <%= line_chart [
                       { name: "Created", data: User.group_by_day(:created_at).count },
                       { name: "Unsubscribed", data: User.unsubscribed.group_by_day(:unsubscribed_at).count }
                   ] %>
  </div>

  <div class="mb-20">
    <h1>Number of feeds created per day (Total: <%= Feed.count %>)</h1>
    <%= line_chart [
            { name: "From subscribe form", data: Feed.unscoped.form_created.group_by_day(:created_at).count },
            { name: "From account form", data: Feed.unscoped.account_created.group_by_day(:created_at).count }
        ] %>
  </div>

  <%

    revenue = {}

    (Date.new(2019, 7, 12)..Date.today).each { |d| revenue[d] = 0 }
  %>

  <div class="mb-20">
    <h1>Revenue (no monetization)</h1>
    <%= line_chart revenue %>
  </div>
</div>
