<div class="max-w-4xl mx-auto">

  <div class="w-full flex">
    <div class="w-full md:w-1/2">
      
      <div class="card card--light mb-8" data-controller="feed-url nested-form">
        <div class="card__content">
          <h1 class="text-3xl mb-1">Briefcake for creators</h1>
          <div class="pb-6 pr-10 text-gray-600">
            <p class="mb-4">Create a daily email for your community and get a custom link to your own sign-up form. More information can <%= link_to "be found here", creator_path %>.</p>
    
          </div>
          <% if @subscribe_form.persisted? %>
            <div class="bg-green-500 text-white p-5 py-3 mb-8 shadow-lg rounded relative">
              <p>Your sign up form is now publicly available at: </p>
              <p><%= link_to subscribe_url(slug: @subscribe_form.slug), subscribe_url(slug: @subscribe_form.slug), class: "color-white underline hover:no-underline" %></p>
            </div>
          <% end %>
          <%= form_for(@subscribe_form, url: subscribe_form_path, method: :patch) do |form| %>

            <template data-target='nested-form.template'>

              <%= form.fields_for :sites, Site.new, child_index: 'TEMPLATE_RECORD' do |site| %>
                <%= render 'site_fields', form: site %>
              <% end %>

            </template>

            <div class="field">

              <%= form.label :name, "Name of website" %>
              <%= form.text_field :name, class: "input" %>

            </div>

            <div class="field">

              <%= form.label :slug, "Pick a url (needs to be unique)" %>

              <div class="flex items-center w-full">

                <div class="pr-2 text-gray-600 bg-gray-200 px-2 py-2 pr-0 rounded-l"><%= subscribe_url(slug: "") %></div>
                <div class="flex-grow w-full"><%= form.text_field :slug, class: "input pl-1 rounded-none rounded-r" %></div>

              </div>

              <% if @subscribe_form.errors.added?(:slug, "has already been taken") %>

                <div class="text-xs pt-1 text-red-600">This name is taken or reserved.</div>

              <% end %>

            </div>      

            <div class="field">
              <%= form.label :color, "Color of the submit button" %>
              <%= form.text_field :color, placeholder: "#ff0000", class: "input" %>
            </div>

            <%= form.fields_for :sites do |site| %>
              <%= render 'site_fields', form: site %>
            <% end %>

            <div data-target="nested-form.add_item" class="flex justify-end mt-4">
              <%= link_to "Add Site", "#", data: { action: "nested-form#add_association" }, class: "btn btn--primary" %>
            </div>

            <hr class="border-2 my-4" />
        
            <div class="flex justify-between items-center mb-2">
              <%= form.submit @subscribe_form.persisted? ? 'Update' : 'Create your form', class: "btn btn--primary", data: { target: "feed-url.submitButton" } %>
              <%= link_to "Cancel", "http://localhost:5000/subscribe_form/edit", class: "btn text-red-500" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="w-1/2 hidden ml-6 mt-4 md:block relative">
      <%= render "pages/chrome" do %>
        <iframe src='<%= @preview_path %>' class="w-full" height="950px"></iframe>
      <% end %>
    </div>
  </div>
</div>

