<div class="max-w-4xl mx-auto">

  <div class="w-full flex">
    <div class="w-full md:w-1/2">
      <h1 class="text-3xl mb-1">Create personal newsletter</h1>
      <div class="pb-6 pr-10 text-gray-600">
        <p class="mb-4">If you want to provide your readers with a really simple email newsletter you can use this form. You get your own personal link which you can use on your own site.</p>
        <p>More information about this can <%= link_to "be found here", about_rss_newsletter_path %>.</p>

      </div>
      <% if @subscribe_form.persisted? %>
        <div class="bg-green-500 text-white p-5 py-3 mb-8 shadow-lg rounded relative">
          <p>Your sign up form is now publicly available at: </p>
          <p><%= link_to subscribe_url(slug: @subscribe_form.slug), subscribe_url(slug: @subscribe_form.slug), class: "color-white underline hover:no-underline" %></p>
        </div>
      <% end %>

      <div class="card card--light mb-8" data-controller="feed-url nested-form">
        <%= form_for(@subscribe_form, url: subscribe_form_path, method: :patch) do |form| %>
          <div class="card__content">

            <template data-target='nested-form.template'>

              <%= form.fields_for :sites, Site.new, child_index: 'TEMPLATE_RECORD' do |site| %>
                <%= render 'site_fields', form: site %>
              <% end %>

            </template>

            <div class="field">

              <%= form.label :name, "Name of website" %>
              <%= form.text_field :name, class: "input" %>

            </div>

            <div class="field">

              <%= form.label :slug, "Pick a url (needs to be unique)" %>

              <div class="flex items-center w-full">

                <div class="pr-2 text-gray-600 bg-gray-200 px-2 py-2 pr-0 rounded-l"><%= subscribe_url(slug: "") %></div>
                <div class="flex-grow w-full"><%= form.text_field :slug, class: "input pl-1 rounded-none rounded-r" %></div>

              </div>

              <% if @subscribe_form.errors.added?(:slug, "has already been taken") %>

                <div class="text-xs pt-1 text-red-600">This name is taken or reserved.</div>

              <% end %>

            </div>      

            <%= form.fields_for :sites do |site| %>
              <%= render 'site_fields', form: site %>
            <% end %>

            <div data-target="nested-form.add_item">
              <%= link_to "Add Site", "#", data: { action: "nested-form#add_association" } %>
            </div>
        
        


            <div class="field">
              <%= form.label :color, "Color of the submit button" %>
              <%= form.text_field :color, placeholder: "#ff0000", class: "input" %>
            </div>

            <div class="pt-8">
              <%= form.submit @subscribe_form.persisted? ? 'Update' : 'Create your form', class: "btn btn--primary", data: { target: "feed-url.submitButton" } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="w-1/2 hidden ml-6 mt-2 md:block relative">
      <%= render "pages/chrome" do %>
        <iframe src="<%= @preview_path %>" class="w-full" height="950px" />
      <% end %>
    </div>
  </div>
</div>

