<div>
  <h3 class="text-2xl pb-10">Some of the supported platforms</h3>
  <div class="flex opacity-50 justify-around w-full flex-wrap pb-8">
    <div class="text-center w-20 mb-4">
      <%= image_tag "icons/wordpress-brands.svg", class: "h-10 mx-auto mb-2" %>
      WordPress
    </div>
    <div class="text-center w-20 mb-4">
      <%= image_tag "icons/medium-brands.svg", class: "h-10 mx-auto mb-2" %>
      Medium
    </div>
    <div class="text-center w-20 mb-4">
      <%= image_tag "icons/rss-square-solid.svg", class: "h-10 mx-auto mb-2" %>
      RSS feeds
    </div>
    <div class="text-center w-20 mb-4">
      <%= image_tag "icons/youtube-brands.svg", class: "h-10 mx-auto mb-2" %>
      YouTube
    </div>
    <div class="text-center w-20 mb-4">
      <%= image_tag "icons/blogger-brands.svg", class: "h-10 mx-auto mb-2" %>
      Blogger
    </div>
  </div>
</div>
