<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head" %>
</head>

<body>
  <%= show_site_wide_announcement(current_user) %>

  <%= render "shared/flash" %>
  <div class="min-h-screen flex flex-col justify-between items-center">
    <div class="p-2">
      <%= yield %>
    </div>
  
    <div style="height: 6rem;">
      <%= render "shared/footer" %>
    </div>  
  </div>
</body>
</html>



