<div class="container mx-auto relative">
  <h1 class="leading-tight font-bold text-3xl xl:text-6xl mb-4 w-full text-gray-800 text-center">
    <%= @title.html_safe %>
  </h1>

  <% if @creator %>
    <div class="text-center my-4">
      <%= link_to "Claim Your Link",
        new_user_registration_path, 
        class: "btn btn-primary text-white bg-black border-blue-500 border-4 font-bold py-4 px-6 text-xl"
      %>
    </div>
  <% else %>
    <div class="text-center my-4">
      <%= link_to "Start Adding Feeds",
        new_user_registration_path, 
        class: "btn btn-primary text-white bg-black border-blue-500 border-4 font-bold py-4 px-6 text-xl"
      %>
    </div>
  <% end %>


  <div class="text-center my-4">
    <p class="text-gray-600">
      Limited FREE or $29/year PRO
    </p>
  </div>

  <div class="mx-auto w-5/6 sm:w-3/6 md:w-2/6">
    <% unless Rails.env.test? %>
      <%= render "chrome" do %>
        <iframe src="/example-email" class="w-full" data-controller="example" height="600px"></iframe>
      <% end %>
    <% end %>
  </div>

  <h1 class="leading-tight font-bold my-4 w-full text-2xl xl:text-4xl text-gray-800 text-center">
    What's briefcake?
  </h1>

  <div class="my-4 px-4 flex justify-around">
    <p class="text-gray-600 text-center">
      We help you follow websites by using RSS feeds. Once a day at your preferred <br> time, we'll brief you with a sweet digest of freshly baked content.
    </p>
  </div>

  <div class="text-center my-6 text-lg">
    <% if @creator %>
      <%= link_to "Try Briefcake for creators", new_user_registration_path, class: "text-gray-800 underline font-bold" %>
    <% else %>
      <%= link_to "Are you a creator?", creators_path, class: "text-gray-800 underline font-bold" %>
    <% end %>
  </div>

</div>

