<div class="flex flex-wrap mx-4">
  <div class="w-full lg:w-3/6 my-8 lg:my-0 px-4 self-center">
    <h1 class="text-center">
      <%= link_to "ðŸ° #{Rails.configuration.application_name.humanize}", root_path, class: "text-5xl font-bold" %>
    </h1>
    <h2 class="leading-tight text-4xl text-gray-800 montserrat text-center">
      A daily email from your <br> favorite websites
    </h2>

    <div class="text-center my-4">
      <%= link_to "Get Started",
        new_user_registration_path,
        class: "btn btn--primary text-white lg:border-4 lg:border-2 font-bold py-2 px-3 lg:py-4 lg:px-6 text-xl"
      %>

      or <%= link_to "Login", new_user_session_path, class: "btn btn--secondary lg:border-4 border-2 font-bold py-2 px-3 lg:py-4 lg:px-6 text-xl" %>
    </div>

    <div class="text-center my-4">
      <p class="text-gray-600">
        Comes as a freemium or <%= link_to "$25/year PRO", pricing_path, class: "text-gray-800 underline font-bold" %>
      </p>
    </div>
  </div>
  <div class="w-full lg:w-3/6 px-4 text-center lg:text-right lg:text-left self-end">
    <div class="flex justify-around">
      <div class="home-chrome-wrapper my-8 md:w-3/5 md:w-4/5">
        <% unless Rails.env.test? %>
          <%= render "chrome" do %>
            <iframe src="/example-email" class="flex-grow w-full" data-controller="example"></iframe>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="my-8">
  <h1 class="leading-tight font-bold my-4 w-full text-2xl xl:text-4xl text-gray-800 text-center">
    What's Briefcake?
  </h1>

  <div class="my-4 px-4 flex justify-around">
    <p class="text-gray-600 text-center">
      Perhaps you've got an RSS reader, or folders full of bookmarks, that you last opened FOREVER ago. You're not
      alone. It's actually pretty hard to make checking your favorite websites part of your daily routine.
      <br/><br/>
      That's why we're here with an rss feed reader, that instead of listing new items in an app, sends them in a
      beautifully simple, daily email.
    </p>
  </div>
</div>