<div class="mx-auto py-10">
  <div class="max-w-xl px-2 text-center mx-auto mb-12 text-gray-700">
    <p class="mb-4">
      <strong>Briefcake Pro</strong> is for people who
      need more than 3 articles per day.
      It lets you follow <strong>unlimited feeds and set custom delivery times.</strong>
      Plus more features will be added in the future!
    </p>

    <p class="mb-4">
      If you don't reach the limit (3 articles per day), you are welcome to stay on the free
      plan – you won't be affected at all.
    </p>

    <% classes = "mt-2 mb-8 btn btn--primary rounded-lg" %>
    <% unless current_user&.is_pro %>
      <% if current_user.present? %>
        <a href="#" data-theme="none" class="paddle_button <%= classes %>" data-product="640234" data-success="/thank-you/" data-passthrough="<%= current_user.id %>" data-coupon="early-adopter" data-email="<%= current_user.email %>">
          <%= "Upgrade to Briefcake PRO ❤️" %>️</a>
      <% else %>
        <%= link_to "Sign in, and upgrade to briefcake PRO ❤️", new_user_session_path, class: classes %>
      <% end %>
    <% end %>
    <p class="mb-4">
      If you have questions, please <a href="mailto:contact@briefcake.com">let us know</a>.
    </p>
  </div>

  <div class="flex flex-wrap items-center justify-center mb-24">
    <div class="flex-grow border p-8 py-6 rounded bg-white shadow-sm m-3 h-auto max-w-xs">
      <header class="text-center">
        <h1 class="font-bold text-3xl">FREE</h1>
      </header>

      <hr class="border-t my-4">

      <ul class="leading-loose mb-10 features">
        <%= render "feature", feature: "Follow RSS feeds" %>
        <%= render "feature", feature: "3 articles per day" %>
        <%= render "feature", feature: "Daily email" %>
      </ul>
    </div>

    <div class="flex-grow border p-8 py-6 rounded shadow-lg m-3 bg-white max-w-sm">
      <header class="text-center">
        <h1 class="font-bold text-3xl uppercase">Pro</h1>
        <small class="text-sm font-bold">Only $25 per year</small>
      </header>

      <hr class="border-t my-4">

      <ul class="leading-loose mb-10 features">
        <li class="mb-4 text-center text-gray-700">Everything from free and:</li>
        <%= render "feature", feature: "Unlimited feeds" %>
        <%= render "feature", feature: "Unlimited articles per day" %>
        <%= render "feature", feature: "Set a custom delivery time" %>
        <%= render "feature", feature: "Priority in queue", hint: "Sending all the emails can take upto a few hours, depending on the time of day. Emails of pro plan accounts are always sent before the free ones." %>
      </ul>

      <div class="text-center">
        <% if current_user.present? && !current_user.is_pro? %>
          <a href="#" data-theme="none" class="paddle_button btn btn--primary rounded-lg" data-product="640234" data-success="/thank-you/" data-passthrough="<%= current_user.id %>" data-coupon="early-adopter" data-email="<%= current_user.email %>">
            Upgrade to pro</a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.paddle.com/paddle/paddle.js"></script>
<script type="text/javascript">
  Paddle.Setup({vendor: 102025});
</script>
