<% content_for :page_title, "Newsletters for content creators" %>
<% content_for :page_description, "​​Create your personal newsletter with our simple sign-up form." %>
<% content_for :social_image, image_url("newsletter.jpg") %>

<div class="mt-16 max-w-2xl mx-auto px-5">
  <h1 class="text-3xl">Newsletters for content creators</h1>

  <p class="mb-8 text-gray-700 italic">The easiest way to start your newsletter</p>

  <p class="text-gray-700">
    ​​RSSMailer is already helping you to keep yourself up to date with the latest articles you’d like to follow through RSS.
  </p>
    ​​
  <p class="text-gray-700">
    ​​Content creators asked us if we could provide a way to use this service as a newsletter sending service. And I have good news, now you can ​🎉​
  </p>
    ​​
  <p class="mb-6 text-gray-700">
    ​​Create your personal newsletter with our simple sign-up form.
  </p>

  <div>
    <h3 class="text-2xl mb-10">Some of the supported platforms</h3>
    <div class="flex opacity-50 justify-around w-full flex-wrap mb-8">
      <div class="text-center w-20 mb-4">
        <%= image_tag "icons/wordpress-brands.svg", class: "h-10 mx-auto mb-2" %>
        WordPress
      </div>
      <div class="text-center w-20 mb-4">
        <%= image_tag "icons/medium-brands.svg", class: "h-10 mx-auto mb-2" %>
        Medium
      </div>
      <div class="text-center w-20 mb-4">
        <%= image_tag "icons/rss-square-solid.svg", class: "h-10 mx-auto mb-2" %>
        RSS feeds
      </div>
      <div class="text-center w-20 mb-4">
        <%= image_tag "icons/youtube-brands.svg", class: "h-10 mx-auto mb-2" %>
        YouTube
      </div>
      <div class="text-center w-20 mb-4">
        <%= image_tag "icons/blogger-brands.svg", class: "h-10 mx-auto mb-2" %>
        Blogger
      </div>
    </div>
  </div>

  <h2 class="text-2xl mb-4">How it works</h2>

  <p class="mb-8 text-gray-700">As the owner of a publication you can create a form in your
    account by
    navigating to the <%= link_to "Create personal newsletter", edit_subscribe_form_path %>
    page.</p>


  <div class="bg-white p-3 pt-10 shadow-lg rounded mb-10">
    <%= image_tag "form.jpg", alt: "Quickly create a form" %>
  </div>

  <p class="mb-8 text-gray-700">
    After filling in the required details you get a personal link you can give to your readers, on
    this page they can sign up for your newsletter, it's that easy.
  </p>

  <div class="mb-4 bg-white shadow-lg rounded p-2 py-20 mb-10 flex items-center justify-around mb-20">
    <%= image_tag "subscribe.jpg", alt: "Subscribe form", style: "max-width: 400px; width: 100%" %>
  </div>
</div>
