<% content_for :page_title, "Create your email newsletter" %>
<% content_for :page_description, "RSSMailer gives you an easy way to create a newsletter" %>

<div class="mt-16 max-w-2xl mx-auto px-5">
  <h1 class="text-3xl mb-4">The easiest way to create a newsletter</h1>

  <p class="mb-8 text-lg text-gray-700">If you are looking for the easiest way to create a
    newsletter, read on.</p>

  <h2 class="text-2xl mb-4">Newsletter service for content creators</h2>

  <p class="mb-2 text-lg text-gray-700">
    When I was building RSSMailer
    <a href="https://twitter.com/jankeesvw/status/1161519867335454721">I got some feedback</a> from
    content creators if there was a way to use RSSMailer as a newsletter sending service.
  </p>

  <p class="mb-8 text-lg text-gray-700">
    I worked on this for the last couple of days and now you are able to do this. All you have to do
    is create a sign up form.
  </p>

  <div>
    <h3 class="text-2xl mb-4">Some of the supported platforms</h3>
    <div class="flex opacity-50 justify-around w-full flex-wrap mb-8">
      <div class="text-center w-20 mb-4">
        <%= image_tag "icons/wordpress-brands.svg", class: "h-10 mx-auto mb-2" %>
        WordPress
      </div>
      <div class="text-center w-20 mb-4">
        <%= image_tag "icons/medium-brands.svg", class: "h-10 mx-auto mb-2" %>
        Medium
      </div>
      <div class="text-center w-20 mb-4">
        <%= image_tag "icons/rss-square-solid.svg", class: "h-10 mx-auto mb-2" %>
        RSS feeds
      </div>
      <div class="text-center w-20 mb-4">
        <%= image_tag "icons/youtube-brands.svg", class: "h-10 mx-auto mb-2" %>
        YouTube
      </div>
      <div class="text-center w-20 mb-4">
        <%= image_tag "icons/blogger-brands.svg", class: "h-10 mx-auto mb-2" %>
        Blogger
      </div>
    </div>
  </div>

  <h2 class="text-2xl mb-4">How it works</h2>

  <p class="mb-8 text-lg text-gray-700">As the owner of a publication you can create a form in your
    account by
    navigating to the <%= link_to "Create personal newsletter", edit_subscribe_form_path %>
    page.</p>


  <div class="bg-white p-3 pt-10 shadow-lg rounded mb-10">
    <%= image_tag "form.jpg", alt: "Quickly create a form" %>
  </div>

  <p class="mb-8 text-lg text-gray-700">
    After filling in the required details you get a personal link you can give to your readers, on
    this page they can sign up for your newsletter it's that easy.
  </p>

  <div class="mb-4 bg-white shadow-lg rounded p-2 py-20 mb-10 flex items-center justify-around">
    <%= image_tag "subscribe.jpg", alt: "Subscribe form", style: "max-width: 400px; width: 100%" %>
  </div>

  <p class="mb-20 text-lg text-gray-700">
    If you want to know more about RSSMailer check the <%= link_to "about page", about_path %>.</p>
</div>
