<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head" %>
</head>

<body>
  <%= show_site_wide_announcement(current_user) %>

  <%= render "shared/flash" %>
  <%= render "shared/navigation" %>

  <%= yield %>
  <%= render "shared/footer" %>

</body>
</html>



