<div class="m-24 max-w-lg mx-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "card card--light p-4" }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: "input", placeholder: "Your full name" %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", class: "input", placeholder: "Your email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="pl-5 p-4 mb-8 border-l-4 border-green-500 bg-gray-100">
      <% unless resource.is_pro? %>
        <p class="mb-4">Available when you <%= link_to "upgrade to pro", pro_path %>:</p>
      <% end %>

      <div class="<%= resource.is_pro? ? "" : "pointer-events-none opacity-50" %>">
        <div class="field">
          <%= f.label :time_zone %>
          <%= f.time_zone_select :time_zone, nil, {}, class: "input" %>
        </div>

        <div class="field mb-0">
          <%= f.label :send_email_at %>  <i class="field__helper"></i>
          <div>
            <%= f.time_select :send_email_at, { ignore_date: true, selected: resource.send_email_at.present? ? Time.parse(resource.send_email_at) : nil }, { class: "input w-auto" } %>
          </div>
        </div>
      </div>
    </div>

    <div class="buttons">
      <%= f.submit "Update", class: "btn btn--primary" %>
    </div>
  <% end %>
</div>

